.servicios{
    &__contenedor{
        display: flex;
        flex-wrap: wrap;
        // column-gap: 2rem;
        // row-gap: 2rem;
        justify-content: center;
        gap: 2rem;
        &__item{
            width: calc(100% / 3 - 4rem / 3);
            background-color: #1f72ff;
            @media only screen and (max-width: $bp-large){
                // width: 100%;
                width: calc(50% - 1rem);
            }
            @media only screen and (max-width: $bp-medium){
                width: 100%;
            }
            h2{
                font-family: $font-inter;
                color: white;
                font-weight: 500;
                font-size: 3rem;
                line-height: 1.5;
                // padding-left: 4rem;
                // padding-right: 4rem;
            }
            p{
                font-family: $font-poppin;
                color: white;
                font-size: 1.5rem;

            }
            span{
                color: #03d7d1;
                font-size: 1.8rem;
                display: inline-block;
            }
            div{
                img{
                    width: 100%;
                }
            }
        }
    }
}